@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: Montserrat;
}

#banner{
    background-image: url(images/headbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* font-family: Montserrat; */
    
}

.navbar-collapse{
    flex-grow: unset! important;
}

/* .col-7{
    margin: auto;

} */

#card-col{
    background-color: rgba(0, 58, 142, 0.6);
    padding: 2.5rem;
}

#card{
    padding-top: 8rem;
    padding-bottom: 7rem;
    color:white;
    --bs-gutter-x: 0;
    
}

.horizontal-bar{
    height: 6px;
    width: 10rem;
    background-color:#81bcba;
}

#Learnmore-btn{
    border-radius: unset;
    width: 12rem;
    color: white;
    background-color:#81bcba;
}

#card2{
    padding-top: 4.5rem;
    padding-bottom: 7rem;
    color:white;
    --bs-gutter-x: 0;
   
}

#card2-col{
    position: relative;
    background-color: rgb(247, 251, 251);
    /* padding: 1rem; */
}

#card2-col2{
    background-color: #fffcfc;
    padding: 2rem;
    position: relative;
    left: 3rem;
    bottom: 3rem;
    color: #96a2a2;
}

#card2-img{
    height: 200px;
    position: absolute;
    right: 55px;
    /* bottom: 225px; */
    top: -100px;
}

#card4{
    background-image: url(images/jacob-laducer-Un5OLMEZFOg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 7rem;
    color:white;
    --bs-gutter-x: 0;
}

.contact-form{
    background-color: currentColor;
    padding: 1.5rem;
    border-radius: 4px;
  
    
}
#contact{
    position: absolute;
     top: 40px; 
     right: 50px;
}
.small-text{
    font-size: 14px;
}

.founder-img{
    height: 200px;
}

#card6{
    
    background-image: url(images/fern-leaves-closeup-as-background-tidewater-green-color-trend-horizontal-orientation-selective-focu_10.jpg);
   
}
/* check it */
.row{
    --bs-gutter-x: unset;
}

@media only screen and (max-width:758px){
    #contact{
        position:unset! important;
    }
}

@media only screen and (max-width:575px)
{
    #card2-col2 {
        left: 0px! important;
    }

    #founder-images{
        justify-content: center! important;
    }

}